/* POST FORM */

.form-header {
  margin: 15px 0px;
  font-weight: 700;
  font-size: 1.3rem;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-body label {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  color: #858585;
}

.form-body label:focus-within {
  color: #8859F0;
}

.form-body p {
  color: #858585;
  font-weight: 500;
  margin-bottom: .5rem;
}

.form-body label input:focus {
  outline: #008cff solid thin;
}

#form-title {
  margin-top: 10px;
  padding: .5rem;
  height: 1.5rem;
  border-radius: .2rem;
  border: 1px solid #858585;
}

#form-content {
  margin-top: 10px;
  padding: .5rem;
  height: 4rem;
  font-size: 12px;
  resize: none;
  border-radius: .2rem;
  border: 1px solid #858585;
}

.form-bottom {
  display: flex;
  text-align: center;
}