/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Página de Login */

.login-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  border: #DDDDDD 1px solid;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
}

.login-container h4 {
  margin-bottom: 1rem;
  font-size: 23px;
  font-weight: 700;
}

.login-container p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1rem;
}

.login-container input {
  padding: 5px;
  margin-bottom: .5rem;
}

.login-container a {
  margin-top: 1rem;
  align-self: flex-end;
}

.button-secondary {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto';
  background-color: #fff;
  border:#252525 2px solid;
  margin-top: 10px;
  color: #252525;
  cursor: pointer;
}

.button-primary {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto';
  background-color: black;
  border: none;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.button-primary-disabled {
  background-color: gray;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto';
  border: none;
  margin-top: 10px;
  color: #fff;
}
/* 
POST FORM */

body {
  background: linear-gradient(90deg, rgba(136,88,240,1) 0%, rgba(69,184,215,1) 100%); 
}

.main-screen {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.post-container {
  padding: 20px 25px;
}

.header {
  display: flex;
  background-color: black;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 30px 25px;
}

.post-form, .post-list {
  background-color: #FFFFFF;
  margin-bottom: 1.5rem;
}

/* POST CARD */
.post-card {
  padding: 15px;
  background-color: #F9F9F9;
  border: #DDDDDD 1px solid;
  border-radius: .2rem;
  margin-bottom: 1rem;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-title {
  display: flex;
  word-break: break-all;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 20px;
}

.post-info {
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 15px;
}

.post-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  background-color: #252525;
  border-style: none;
  padding: 5px 8px;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
}

.button-icon img {
  width: 25px;
  height: 25px;
}

.post-content {
  margin-bottom: 15px;
  word-break: break-all;
  word-wrap: break-word;
  line-height: normal;
}

.post-empty {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.post-first {
  width: 250px;
  margin-bottom: 10px;
}

#be-the-first {
  font-weight: 700;
}