/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Página de Login */

.login-page {
  display: flex;
  background-color: #DDDDDD;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 500px;
  padding: 20px;
}

.login-container h4 {
  margin-bottom: 2rem;
  font-size: large;
  font-weight: 700;
}

.login-container p {
  margin-bottom: 1rem;
}

.login-container input {
  padding: 5px;
}

.login-container a {
  margin-top: 1rem;
  align-self: flex-end;
}

.button-form {
  font-weight: 700;
  background-color: black;
  border: none;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  margin-top: 10px;
  color: #DDDDDD;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
  align-self: flex-end;
}

.button-form-disabled {
  font-weight: 700;
  background-color: gray;
  border: none;
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  color: #DDDDDD;
  text-transform: uppercase;
  cursor: default;
  width: 100px;
  align-self: flex-end;
}
/* 
POST FORM */

.post-form, .post-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.post-header {
  font-weight: 700;
  font-size: 1.2rem;
}